.advantages {
  padding: 31px 0 29px;
}

.advantages__wrapper {
  margin: 0 auto;
  width: 260px;
}

.advantages__title {
  margin: 0 0 28px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.advantages__list {
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 82px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
