.button {
  width: 260px;
  padding: 14px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: $button-text;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $button-border;
  background: $button-background;
  overflow-wrap: break-word;

  &:hover {
    color: $button-text-hover;
    background-color: $button-background-hover;
  }

  &:active {
    color: $button-text-active;
  }

  &--form {
    padding: 16px;
    font-size: 17px;
    line-height: 16px;

    &:focus {
      @include focus;
    }
  }

  &--process {
    width: 192px;
    padding: 16px 19px 16px 20px;
    line-height: 16px;
  }

  @media (min-width: $tablet-width) {
    &--featured {
      width: 292px;
      font-size: 17px;
    }

    &--reviews {
      width: auto;
      min-width: 175px;
      max-width: 230px;
      font-size: 17px;
    }

    &--contacts {
      width: max-content;
      min-width: 230px;
      max-width: 600px;
      font-size: 17px;
    }

    &--form {
      width: 230px;
    }

    &--process {
      width: 100%;
      font-size: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    &--reviews {
      max-width: 330px;
    }

    &--contacts {
      width: max-content;
      max-width: 290px;
    }

    &--process {
      width: 230px;
    }
  }
}
