.button {
  padding: 14px;
  width: 260px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: $button-text;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $button-border;
  background: $button-background;
  overflow-wrap: break-word;

  &--form {
    padding: 16px;
    font-size: 17px;
    line-height: 16px;
  }

  &:hover {
    color: $button-text-hover;
    background-color: $button-background-hover;
  }

  &:active {
    color: $button-text-active;
  }

  &:focus {
    @include focus;
  }
}
