.modal {
  display: none;
  background-color: $modal-background;
  overflow-wrap: break-word;
  opacity: 0;
  transition: 0.4s opacity ease-out;

  &--show {
    display: block;
  }

  &--appear {
    opacity: 1;
  }
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 29px 0 46px;
  border-top: 1px solid $modal-border;
  border-bottom: 1px solid $modal-border;
  background-color: $modal-wrapper-background;
  box-shadow: 0 5px 10px $modal-shadow;
  transform: translate(0, -50%);

  @media (min-width: $tablet-width) {
    left: 50%;
    width: 568px;
    padding: 38px 0 46px;
    border: 1px solid $modal-border;
    transform: translate(-50%, -50%);
  }
}

.modal__title {
  width: 280px;
  margin: 0 auto 14px;
  font-size: 25px;
  line-height: 31px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  &::first-line {
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 80%;
    margin: 0 auto 11px;
    font-size: 30px;
    line-height: 57px;

    &::first-line {
      line-height: 57px;
    }
  }
}

.modal__space {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.modal__form-size {
  @media (min-width: $tablet-width) {
    width: 350px;
    margin: 0 auto;
  }
}

.modal__field-group {
  width: 260px;
  margin: 0 auto 31px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.modal__legend {
  display: block;
  width: 179px;
  margin: 0 auto 21px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $modal-legend;

  @media (min-width: $tablet-width) {
    margin: 0 auto 19px;
    font-size: 17px;
  }
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__item {
  &:not(:last-child):not(:nth-child(3n)) {
    margin-right: 7px;
  }

  &:not(:nth-last-child(-n+3)) {
    margin-bottom: 7px;
  }
}

.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $modal-radio-text;
}

.modal__radio {
  &:checked + {
    .modal__text {
      border-color: $modal-radio-border-selected;
    }
  }

  &:focus + {
    .modal__text {
      @include focus;
    }
  }
}

.modal__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  min-height: 52px;
  border: 2px solid $modal-radio-border;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    width: 112px;
  }

  &:hover {
    border-color: $modal-radio-border-hover;
  }

  &:active {
    border-color: $modal-radio-border-active;
  }
}

.modal__breaker {
  max-width: 82px;

  @media (min-width: $tablet-width) {
    max-width: 112px;
  }
}

.modal__add {
  display: block;
  padding: 18px;
  width: 260px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  color: $modal-button-text;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $modal-button-background;
  border: none;

  @media (min-width: $tablet-width) {
    width: 350px;
    padding: 21px 20px 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 20px;
  }
}
