// Form section

.order__section {
  &--type,
  &--color {
    padding: 16px 0;
  }

  &--name {
    padding: 16px 0 17px;
  }

  &--contacts {
    padding: 18px 0 17px;
  }

  &--additional {
    padding: 18px 0 55px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(even) {
      background-color: $form-section-background;
    }

    &--type {
      padding: 52px 0 50px;
    }

    &--color,
    &--additional,
    &--name,
    &--contacts {
      padding: 50px 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--type {
      padding: 51px 0 49px;
    }

    &--color {
      padding: 48px 0 52px;
    }
  }
}

// Field group

.order__field-group {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    width: 668px;

    &--additional {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-left: 47px;

    &--name,
    &--contacts,
    &--additional {
      padding-right: 175px;
    }

    &--additional {
      justify-content: flex-end;
    }
  }
}

// Field grop flexbox

.order__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

// Legend text and green line

.order__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $order-legend;

  &::after {
    content: "";
    flex: 0 1 200px;
    height: 2px; // Если сделать просто через 1px и центрирование, не попадает в pixel perfect
    background-color: $separator-line;
    border-top: 1px solid $separator-line-border;
  }

  &--type {
    margin-bottom: 31px;
  }

  &--color {
    margin-bottom: 24px;
  }

  &--name {
    margin-bottom: 28px;
  }

  &--tel {
    margin-bottom: 4px;
  }

  &--email {
    margin-bottom: 4px;

    &::after {
      flex: 0 1 182px;
    }
  }

  &--additional {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: calc(25% - 20px);
    margin: 0 20px 0 0;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 115px;
    margin: 0 13px 0 0;
  }
}

.order__mini-title {
  max-width: 260px;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    display: block;
    max-width: 130px;
    margin: 0;

    &--type,
    &--color,
    &--tel {
      padding-top: 17px;
    }

    &--name,
    &--email {
      padding-top: 18px;
    }

    &--additional {
      padding-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;

    &--type {
      padding-top: 19px;
      width: 65px;
    }

    &--color {
      padding-top: 20px;
      width: 73px;
    }

    &--name {
      padding-top: 19px;
      width: 70px;
    }

    &--tel {
      width: 61px;
    }

    &--email {
      width: 88px;
    }

    &--additional {
      padding-top: 20px;
      width: 69px;
    }
  }
}

// List of fields

.order__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 75%;

    &--type {
      padding-left: 2px;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $desktop-width) {
    width: 875px;

    &--type {
      padding-left: 1px;
    }

    &--name {
      width: 700px;
    }
  }
}

// List item

.order__item {
  min-height: 40px;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    min-height: 40px;
    margin-bottom: 21px;
  }

  &--name {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--radio {
      margin-bottom: 26px;
    }

    &--checkbox {
      width: calc((100% - 23px) / 2);
      margin-bottom: 24px;

      &:nth-child(odd) {

        margin-right: 23px;
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    &--name {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--checkbox {
      width: 30%;
      margin-bottom: 24px;

      &:nth-child(odd) {
        width: 30%;
        margin-right: 0;
      }

      &:not(:nth-child(3n)) {
        width: calc(30% - 20px);
        margin-right: 20px;
      }

      &:nth-last-child(3) {
        margin-bottom: 0;
      }
    }
  }
}

// Field label

.order__label {
  display: block;
  max-width: 260px;

  &--controls {
    display: flex;
    align-items: center;
  }

  &--name {
    padding: 0;
  }

  &--contacts {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &--additional {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    max-width: none;

    &--name,
    &--contacts,
    &--additional {
      display: flex;
    }

    &--name {
      align-items: center;
    }

    &--contacts {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &--additional {
      width: 100%;
      margin-bottom: 53px;
    }
  }

  @media (min-width: $desktop-width) {
    &--additional {
      width: 100%;
      margin-bottom: 49px;
    }
  }
}

// Custom controls

.order__interactive {
  &--radio {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: $interactive-radio-off;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px $interactive-radio-emptiness;
    border: 2px solid $interactive-border;
  }

  &--radio:hover {
    border-color: $interactive-border-hover;
  }

  &--radio:active {
    border-color: $radio-border-active;
  }

  &--checkbox {
    margin-right: 23px;
    width: 38px;
    height: 38px;
    border: 2px solid $interactive-border;
  }

  &--checkbox:hover {
    border-color: $interactive-border-hover;
  }

  &--checkbox:active {
    border-color: $checkbox-border-active;
  }

  @media (min-width: $tablet-width) {
    &--radio {
      width: 50px;
      height: 50px;
      margin-right: 28px;
      box-shadow: inset 0 0 0 13px $interactive-radio-emptiness;
    }

    &--checkbox {
      margin-right: 30px;
      width: 52px;
      height: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    &--radio {
      margin-right: 30px;
    }
  }
}

// Radio buttons' :checked & :focus states

.order__radio {
  &:checked + {
    .order__interactive {
      &--radio {
        background-color: $interactive-radio-on;
      }
    }
  }

  &:focus + {
    .order__interactive {
      &--radio {
        outline: none;
        box-shadow:
          inset 0 0 0 10px $interactive-radio-emptiness,
          0 0 0 2px $focus-color;

        @media (min-width: $tablet-width) {
          box-shadow:
            inset 0 0 0 13px $interactive-radio-emptiness,
            0 0 0 2px $focus-color;
        }
      }
    }
  }
}

// Checkboxes' :checked & :focus states

.order__checkbox {
  &:checked + {
    .order__interactive {
      &--checkbox {
        background: url("../img/checkmark.svg");
        background-position: 50%;
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {
          background: url("../img/checkmark_big.svg");
          background-position: 50%;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &:focus + {
    .order__interactive {
      &--checkbox {
        @include focus;
      }
    }
  }
}

// Control's description text

.order__control-text {
  max-width: 200px;

  &--accesory {
    padding-top: 3px;
  }

  @media (min-width: $tablet-width) {
    max-width: 370px;

    &--accesory {
      padding-top: 0;
    }

    &--checkbox {
      max-width: 140px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;

    &--checkbox {
      max-width: 137px;
      padding-top: 4px;
    }
  }
}

// Text input field's name

.order__field-name {
  @media (min-width: $tablet-width) {
    max-width: 200px;
    margin-right: 25px;

    &--wide {
      min-width: 101px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
    padding-left: 2px;

    &--wide {
      min-width: 103px;
    }
  }
}

// Text input fields

.order__text-input {
  display: block;
  width: 260px;
  height: 52px;
  padding: 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $text-input;
  background: $text-input-background-nomobile;
  border: none;
  border-bottom: 2px solid $text-input-border;

  &::placeholder {
    color: $placeholder;
    opacity: 1;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $text-input-border-interact;
  }

  &:focus {
    @include focus(0);
  }

  &--middle-name {
    height: 51px;
  }

  &--tel,
  &--email {
    position: relative;
    z-index: 1;

    &:hover,
    &:active,
    &:focus {
      + .order__icon {
        opacity: 1;

        .order__path {
          fill: $form-icon-interact;
        }
      }
    }
  }

  &--additional {
    min-height: 142px;
    padding: 15px;
    margin: 0;
    color: $text-input-additional;
    border: 2px solid $text-input-border;
    resize: none;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: auto;
    font-size: 19px;

    &--name,
    &--surname,
    &--middle-name,
    &--tel,
    &--email {
      padding: 16px 18px 18px;
    }

    &--middle-name {
      height: 52px;
    }
  }
}

// Icons

.order__icon {
  position: absolute;
  opacity: 0.2;

  &--tel {
    bottom: 17px;
    right: 7px;
  }

  &--email {
    bottom: 15px;
    right: 3px;
  }

  @media (min-width: $tablet-width) {
    &--tel {
      top: 11px;
      bottom: unset;
      right: 26px;
    }

    &--email {
      top: 16px;
      bottom: unset;
      right: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    &--tel {
      right: 8px;
    }

    &--email {
      right: 4px;
    }
  }
}

// Footnote

.order__footnote {
  margin: 0 0 29px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 3;
    max-width: 329px;
    margin: 0;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 330px;
    padding-top: 1px;
    margin: 0 0 0 141px;
  }
}

.order__small {
  font-size: 14px;
  color: $star-legend;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
