.page-main {
  &--index {
    padding-bottom: 39px;
  }

  &--catalog {
    padding-bottom: 59px;
  }
}

.page-main__holder {
  position: relative;
  background-color: $holder-background-index;

  &--form {
    margin-bottom: 17px;
    padding: 73px 0 74px;
    background-color: $holder-background-inner;
  }
}

.page-main__background {
  display: block;
  margin: 0 auto;
}

.page-main__title {
  width: 260px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;

  &--index {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-main__lead {
  margin: 0 auto 14px;
  width: 260px;
  font-size: 13px;
  line-height: 24px;
  color: $lead;
  overflow-wrap: break-word;
}

.page-main__goods {
  margin-bottom: 30px;
}

.page-main__process {
  margin: 0 auto;
}
