.page-footer {
  padding: 0;
  background: $footer-background;

  @media (min-width: $tablet-width) {
    padding: 46px 0 53px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: -5px;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    margin-left: -2px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    margin-right: -4px;
  }
}
