.page-main {
  overflow-wrap: break-word;

  &--catalog {
    padding-bottom: 58px;
  }

  @media (min-width: $tablet-width) {
    &--catalog {
      padding-bottom: 64px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      padding-bottom: 105px;
    }
  }
}

.page-main__wrap {
  display: grid;
  grid-template: auto 14px 10px / auto;

  @media (min-width: $desktop-width) {
    grid-template: auto 19px 15px / auto;
  }
}

.page-main__holder {
  &--index {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: start;
    display: grid;
    grid-template: auto 120px 206px auto / 1fr 260px 1fr;
    background-color: $holder-background-index;
    overflow-x: hidden;
  }

  &--inner {
    padding: 73px 0 74px;
    background-color: $holder-background-inner;
  }

  @media (max-width: $mobile-width-only) {
    &--inner {
      margin-bottom: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    &--index {
      grid-template: auto 371px 119px auto / 1fr 668px 1fr;
    }

    &--inner {
      padding: 33px 0 63px;
    }
  }

  @media (min-width: $desktop-width) {
    &--index {
      grid-template: auto 355px 119px auto / 1fr 1050px 1fr;
    }

    &--inner {
      padding: 34px 0 79px;
    }
  }
}

.page-main__box {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  justify-self: center;
  align-self: end;
  display: flex;
  align-items: flex-end;
  padding-bottom: 128px;
  padding-left: 1px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
  }
}

.page-main__background {
  width: 575px;
  height: 355px;
  margin: 0 auto;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    display: block;
    width: 1150px;
    height: 679px;
  }
}


.page-main__title {
  width: 260px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  &--index {
    padding-top: 72px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    font-size: 43px;
    line-height: 50px;

    &--index {
      padding-top: 88px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding-top: 90px;
    }

    &--inner {
      padding-left: 3px;
    }
  }
}

.page-main__space {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-main__sub-navigation {
  grid-row: 3 / 5;
  grid-column: 1 / 4;
  z-index: 2;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: $tablet-width) {
    align-self: end;
  }
}

.page-main__waves {
  height: 24px;
  background-image: url("../img/wave_big.svg");
  background-position: 50%;
  background-repeat: repeat-x;

  &--index {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    align-self: end;
    z-index: 3;
  }

  &--inner,
  &--catalogue {
    background-color: $waves-background-inner;
  }

  &--inner {
    margin-bottom: 54px;
  }

  &--catalogue {
    margin-bottom: 67px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    height: 34px;

    &--index {
      margin-left: 1px;
      background-image: url("../img/wave_big_desktop.svg");
    }

    &--inner,
    &--catalogue {
      background-image: url("../img/wave_big_desktop_inner.svg");
    }

    &--inner {
      margin-bottom: 99px;
    }

    &--catalogue {
      margin-bottom: 111px;
    }
  }
}

.page-main__featured,
.page-main__reviews {
  position: relative;
}

.page-main__featured,
.page-main__advantages,
.page-main__reviews,
.page-main__contacts {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.page-main__lead {
  margin: 0 auto 14px;
  width: 260px;
  font-size: 13px;
  line-height: 24px;
  color: $lead;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto 13px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.page-main__goods {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.page-main__process {
  margin: 0 auto;
}
