.page-header {
  border-top: 1px solid $body-border;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__wrapper {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $header-wrapper-border;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template: minmax(88px, auto) auto / 1fr 334px 334px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template: minmax(88px, auto) auto / 1fr 450px 149px 451px 1fr;
  }
}

.page-header__main-navigation {
  &--hot {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--basic {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-size: 15px;
      z-index: 2;
    }

    &--search {
      grid-row: 1 / 2;
      grid-column: 2 / 4;
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $desktop-width) {
    &--basic {
      grid-row: 1 / 2;
    }

    &--search {
      grid-column: 4 / 5;
      justify-content: flex-end;
    }

    &--hot {
      display: block;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      z-index: 2;
    }
  }
}

.page-header__box {
  padding: 17px 3px 18px 0;
  display: block;
  width: min-content;
  margin: 0 auto;
  z-index: 2;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0 0 0 -7px;
    padding: 17px 0 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    justify-self: center;
    margin: 0;
    padding: 5px 0 3px;
  }
}

.page-header__holder {
  position: relative;
  width: 260px;
  height: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  position: absolute;
  right: -14px;
  top: -65px;
  width: 50px;
  height: 50px;
  border: none;
  background: $navigation-toggle-background;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 20px;
    background-image: url("../img/icon_menu_close.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &:hover {
    cursor: pointer;
  }

  &--nojs {
    display: none;
  }

  &--closed {
    &::before {
      width: 20px;
      height: 2px;
      background-image: none;
      background-color: $navigation-toggle-color;
      box-shadow:
        0 -6px 0 0 $navigation-toggle-color,
        0 6px 0 0 $navigation-toggle-color;
    }
  }
}

.page-header__shipping {
  display: none;
  margin: 0;
  padding-top: 20px;
  color: $shipping;
  font-size: 15px;
  text-align: right;

  @media (min-width: $tablet-width) {
    display: block;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    padding-top: 22px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}

.page-header__paint {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    background-color: $header-background;
    background-image: url("../img/header_paint.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-top: 1px solid $navigation-item-border-nomobile;
    z-index: 0;

    &--inner {
      background-color: $header-background-inner;
      background-image: none;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header_paint@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 6;
  }
}
