.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content / auto;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
