.reviews {
  padding: 29px 0 51px;
  overflow-wrap: break-word;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/section_border_mobile.svg");
    background-position: 50%;
    background-repeat: repeat-x;
  }

  @media (min-width: $tablet-width) {
    padding: 41px 0 85px;

    &::after {
      height: 17px;
      background-image: url("../img/section_border_tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 44px 0 90px;

    &::after {
      left: -1px;
      width: calc(100% + 2px);
      height: 23px;
      background-image: url("../img/section_border_desktop_reviews.svg");
    }
  }
}

.reviews__wrapper {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template: 79px auto auto auto auto / minmax(50px, 1fr) 334px 334px 1fr;
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template: 79px auto auto auto 1fr / 175px 1fr 1fr;
    margin: 0 auto;
    padding: 0;
  }
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 330px;
    margin: 0 0 15px;
    padding-top: 4px;
    font-size: 43px;
    line-height: 50px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: -1px 0 36px -1px;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__image {
  display: none;
  width: 350px;
  height: 457px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    display: block;
    grid-row: 1 / 5;
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 6;
  }
}

.reviews__window {
  display: flex;
  justify-content: center;
  margin: 0 0 28px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 5;
    grid-column: 2 / 4;
    margin: 0;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__blockquote {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template: minmax(300px, auto) 20px auto / 260px;
    margin-top: -1px;
  }
}

.reviews__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: $reviews-text;

  @media (max-width: $mobile-width-only) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 61px;
    font-size: 17px;

    text-shadow:
      calc(1px * 1) calc(1px * 0) 0 $reviews-text-border,
      calc(1px * 0.9239) calc(1px * 0.3827) 0 $reviews-text-border,
      calc(1px * 0.7071) calc(1px * 0.7071) 0 $reviews-text-border,
      calc(1px * 0.3827) calc(1px * 0.9239) 0 $reviews-text-border,
      calc(1px * 0) calc(1px * 1) 0 $reviews-text-border,
      calc(1px * -0.3827) calc(1px * 0.9239) 0 $reviews-text-border,
      calc(1px * -0.7071) calc(1px * 0.7071) 0 $reviews-text-border,
      calc(1px * -0.9239) calc(1px * 0.3827) 0 $reviews-text-border,
      calc(1px * -1) calc(1px * 0) 0 $reviews-text-border,
      calc(1px * -0.9239) calc(1px * -0.3827) 0 $reviews-text-border,
      calc(1px * -0.7071) calc(1px * -0.7071) 0 $reviews-text-border,
      calc(1px * -0.3827) calc(1px * -0.9239) 0 $reviews-text-border,
      calc(1px * 0) calc(1px * -1) 0 $reviews-text-border,
      calc(1px * 0.3827) calc(1px * -0.9239) 0 $reviews-text-border,
      calc(1px * 0.7071) calc(1px * -0.7071) 0 $reviews-text-border,
      calc(1px * 0.9239) calc(1px * -0.3827) 0 $reviews-text-border;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 44px;
  }
}

.reviews__cite {
  @media (max-width: $mobile-width-only) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @media (min-width: $tablet-width) {
    width: 330px;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 3px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__social {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $reviews-social;

  @media (min-width: $tablet-width) {
    width: 330px;
  }
}

.reviews__box {
  display: flex;
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    justify-self: end;
    margin: -101px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: -55px 0 0;
  }
}

.reviews__toggle {
  position: relative;
  width: 130px;
  height: 52px;
  padding: 0;
  border: 1px solid $reviews-toggle-border;
  background-color: $reviews-toggle-background;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 100%;
    height: 100%;
    background-image: url("../img/slider_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--prev {
    border-right: none;

    &:focus {
      z-index: 2;
    }
  }

  &--next {
    &::before {
      left: -2px;
      transform: rotate(180deg);
    }
  }

  @media (min-width: $tablet-width) {
    &--prev {
      &::before {
        left: -2px;
      }
    }

    &--next {
      &::before {
        left: -1px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 86px;
    border: none;
  }
}

.reviews__write {
  display: block;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-self: end;
    align-self: start;
  }
}
