// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

// Colors

$main-color: #63d1bb;
$main-color-tweaked: #62d1ba;
$main-color-few-darker: #59d5bc;
$main-color-darker: #56c3b2;
$main-color-darkest: #46c1ae;

$white: #ffffff;
$gray-white: #f9f9f9;
$gray-lightest: #f1f1f1;
$gray-lighter: #ececec;
$gray-light: #e5e5e5;
$gray-almost-light: #c6c6c6;
$gray: #444444;
$almost-black: #000101;
$black: #000000;

$transparent: transparent;

// Page

$body-border: $gray-lighter;
$focus-color: $black;

// Main navigation

$navigation-toggle-color: $black;
$navigation-toggle-background: $transparent;
$navigation-link: $black;
$navigation-link-hover: rgba($black, 0.6);
$navigation-link-active: rgba($black, 0.3);
$navigation-icon-hover: $main-color;
$navigation-item-border: $gray-lighter;
$navigation-item-border-nomobile: rgba($black, 0.1);
$example: $gray-lighter;
$header-background: $gray-white;
$header-background-inner: $gray-lightest;
$header-wrapper-border: $gray-lighter;

// Shipping text

$shipping: $gray;

// Sub-navigation

$holder-background-index: $gray-white;
$holder-background-inner: $gray-lightest;
$decor-background: $main-color;
$decor-background-hover: $main-color-few-darker;
$toys-background: $main-color-darker;
$toys-background-hover: $main-color-darkest;
$subnavigation-link: $white;
$subnavigation-link-focus: $black;
$waves-background-inner: $gray-lightest;

// Featured

$featured-title: $main-color;
$featured-border: $gray-lighter;
$featured-price: $gray;

// Button

$button-text: $gray;
$button-text-hover: $white;
$button-text-active: rgba($white, 0.3);
$button-background: $white;
$button-background-hover: $gray;
$button-border: $gray;

// Reviews

$reviews-text: $gray;
$review-text-border: rgba(white, 0.28);
$review-social: $gray;
$review-toggle-border: $gray-lighter;
$review-toggle-arrow: $black;

// Contacts

$contacts-text: $gray;
$contacts-text-hover: $main-color-darkest;
$email-border: $main-color-tweaked;
$email-border-hover: $main-color-darkest;
$email-border-active: rgba($main-color-darkest, 0.1);

// Footer

$footer-background: $gray-lightest;
$logo-footer: $black;
$logo-footer-hover: $main-color-darkest;
$social-fill: $black;
$social-fill-hover: $main-color-darkest;
$social-border: $gray-light;
$copyright-logo: $main-color;
$copyright-logo-hover: $main-color-darkest;

// Modal

$modal-background: rgba($white, 0.9);
$modal-wrapper-background: $white;
$modal-border: $gray-almost-light;
$modal-shadow: rgba($almost-black, 0.25);
$modal-legend: $gray;
$modal-radio-text: $gray;
$modal-radio-border: rgba($gray, 0.1);
$modal-radio-border-selected: $main-color;
$modal-radio-border-hover: rgba($gray, 0.3);
$modal-radio-border-active: $main-color-tweaked;
$modal-button-text: $white;
$modal-button-background: $main-color;
$modal-button-focus-border: $black;

// ### FORM-page ###

$lead: $gray;

// Form

$form-section-background: $gray-lightest;
$holder-background-inner: $gray-lightest;
$order-legend: $main-color;
$separator-line: $transparent;
$separator-line-border: $main-color-tweaked;
$interactive-radio-off: $white;
$interactive-radio-on: $main-color-tweaked;
$interactive-radio-emptiness: $white;
$interactive-border: $gray;
$interactive-border-hover: $main-color-tweaked;
$radio-border-active: rgba($black, 0.3);
$checkbox-border-active: rgba($gray, 0.3);
$text-input: $gray;
$text-input-additional: $black;
$text-input-background-nomobile: $transparent;
$placeholder: rgba($black, 0.3);
$text-input-border: $black;
$text-input-border-interact: $main-color-tweaked;
$form-icon-interact: $main-color-tweaked;
$star-legend: $gray;

// Catalogue

$goods-border: $gray-lighter;
$goods-item-shadow: rgba($black, 0.1);
$goods-heading: $black;
$goods-heading-hover: rgba($black, 0.6);
$goods-heading-active: rgba($black, 0.3);
$goods-heading-background: $white;
$goods-box-background: $white;
$characteristics: $gray;
$goods-icon-hover: $main-color;

// Process

$process-background: $white;
$process-text: $gray;
$process-border: $gray-lighter;
$process-item-shadow: rgba($black, 0.1);
